@import url(http://fonts.googleapis.com/css?family=Roboto|Open+Sans:400italic,700italic,400,700);

$font-small: 1rem;
$font-medium: 2rem;
$font-large: 4rem;

$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: 4rem;

$blue-100: #bbdef6;
$blue-400: #42a5f5;
$blue-800: #1565c0;

$grey-100: #f5f5f5;
$grey-200: #eeeeee;
$grey-400: #bdbdbd;
$grey-800: #424242;

$white: #FFF;

$font-roboto: 'Roboto', serif;